
{% extends 'base.html.twig' %}
{% block title %} Program ok {% endblock %}

{% block body %}

    <h1>{{ program.title }}</h1>
    <h5>{{ program.summary }}</h5>
    <h5> With :</h5>
    {% for actor in program.actors %}
        <p> {{actor.name }} </p>
    {% endfor %}

        {% for season in seasons %}
            <a href="{{ path("show_season", {"id":season.id}) }}"> saison : {{ season.id }}</a>

            <p>{{ season.year }}</p>
            <p>{{ season.description }}</p>
        {% endfor %}
    <img src="{{ program.poster }}" class="card-img-fluid" alt="Image d'illustration">
{% endblock %}



